.btn {
  width: 100%;
  font-size: 1rem;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  padding: 5px 5px 5px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #234668;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
  margin-bottom: 0.5rem;
}

.btn:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}
